[Desktop Entry]
Icon=audio-x-opus+ogg
Name=Brodha V - Aathma Raama [Lyric Video] [SdxSQlk4Bws].opus
Type=Link
URL[$e]=file:$HOME/Downloads/Brodha V - Aathma Raama [Lyric Video] [SdxSQlk4Bws].opus
X-KDE-LastOpenedWith=org.kde.kdenlive
