[Desktop Entry]
Icon=audio-x-opus+ogg
Name=COMPUTER DATA - 96 [u2NiUxl03cI].opus
Type=Link
URL[$e]=file:$HOME/Downloads/COMPUTER DATA - 96 [u2NiUxl03cI].opus
X-KDE-LastOpenedWith=org.kde.kdenlive
