[Desktop Entry]
Icon=audio-x-opus+ogg
Name=Eminem - 25 To Life (Liquid Drum and Bass Remix) [A4OZxpXblBU].opus
Type=Link
URL[$e]=file:$HOME/Downloads/Eminem - 25 To Life (Liquid Drum and Bass Remix) [A4OZxpXblBU].opus
X-KDE-LastOpenedWith=org.kde.kdenlive
