[Desktop Entry]
Icon=audio-x-opus+ogg
Name=Ezekiel - RELOAD! (feat. WHOKILLEDXIX) [Official Music Video] [dXA0tgDgRpU].opus
Type=Link
URL[$e]=file:$HOME/Downloads/Ezekiel - RELOAD! (feat. WHOKILLEDXIX) [Official Music Video] [dXA0tgDgRpU].opus
X-KDE-LastOpenedWith=org.kde.kdenlive
