[Desktop Entry]
Icon=audio-x-opus+ogg
Name=help_urself (LAUD Remix) [2m9rrJ_Nwbs].opus
Type=Link
URL[$e]=file:$HOME/Downloads/help_urself (LAUD Remix) [2m9rrJ_Nwbs].opus
X-KDE-LastOpenedWith=org.kde.kdenlive
