[Desktop Entry]
Icon=audio-x-opus+ogg
Name=Shabjdeed - SINDIBAD (Prod. Al Nather) شب جديد - سندباد [qmvo1VmQ1EA].opus
Type=Link
URL[$e]=file:$HOME/Downloads/Shabjdeed - SINDIBAD (Prod. Al Nather) شب جديد - سندباد [qmvo1VmQ1EA].opus
X-KDE-LastOpenedWith=org.kde.kdenlive
