[Desktop Entry]
Icon=audio-x-opus+ogg
Name=øneheart x reidenshi - snowfall [LlN8MPS7KQs].opus
Type=Link
URL[$e]=file:$HOME/Downloads/øneheart x reidenshi - snowfall [LlN8MPS7KQs].opus
X-KDE-LastOpenedWith=org.kde.kdenlive
