# SYN-LFS installer ISO. Same look as the SYN-OS ISO: its splash (copied
# from SYN-ISO-PROFILE/grub by build.zsh iso) and the SYN-OS-RED palette,
# which GRUB's 16 named colours can only approximate with red.
insmod part_gpt
insmod part_msdos
insmod iso9660
insmod all_video

if loadfont "${prefix}/fonts/unicode.pf2" ; then
    set gfxmode=auto
    insmod gfxterm
    terminal_output gfxterm
fi

insmod png
if background_image /boot/grub/splash.png; then
    set color_normal=white/black
    set color_highlight=black/red
    set menu_color_normal=white/black
    set menu_color_highlight=black/red
fi

insmod serial
if serial --unit=0 --speed=115200; then
    terminal_input --append serial
    terminal_output --append serial
fi

if [ "${grub_platform}" == 'efi' ]; then
    syn_platform='UEFI'
else
    syn_platform='BIOS: live only, installing needs UEFI'
fi

default=synlfs_live
timeout=15
timeout_style=menu

menuentry "Boot SYN-LFS Live (${syn_platform})" --class synos --class gnu-linux --class os --id 'synlfs_live' {
    set gfxpayload=keep
    linux /boot/vmlinuz syn.live
    initrd /boot/initramfs.img
}

menuentry "Boot SYN-LFS Live to RAM (${syn_platform})" --class synos --class gnu-linux --class os --id 'synlfs_live_ram' {
    set gfxpayload=keep
    linux /boot/vmlinuz syn.live syn.toram
    initrd /boot/initramfs.img
}

menuentry "Boot SYN-LFS Live, basic graphics (${syn_platform})" --class synos --class gnu-linux --class os --id 'synlfs_live_basic' {
    linux /boot/vmlinuz syn.live nomodeset
    initrd /boot/initramfs.img
}

if [ "${grub_platform}" == 'efi' ]; then
    menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
        fwsetup
    }
fi

menuentry 'System shutdown' --class shutdown --class poweroff {
    echo 'System shutting down...'
    halt
}

menuentry 'System restart' --class reboot --class restart {
    echo 'System rebooting...'
    reboot
}
