*.iso
*.qcow2
.claude
.vscode
SYN-ISO-PROFILE/airootfs/root
WORKDIR/
.syn-build/
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/pkgcache/
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-os-base/PKGBUILD
SYN-SOFTWARE/syn-filemanager-src/src/build/
SYN-SOFTWARE/syn-filemanager-src/pkg/
SYN-SOFTWARE/syn-filemanager-src/*.pkg.tar.zst
SYN-SOFTWARE/syn-filemanager-src/*.pkg.tar.zst.sig
SYN-SOFTWARE/*/build/
SYN-SOFTWARE/*-src-build/
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-connect
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-uplink-dialpad
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-crypter
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-bar
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-bar-core
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-bar-notify
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-audio
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-iso-builder
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-relay
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-sysmon
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-wallgen
SYN-ISO-PROFILE/airootfs/usr/bin/syn-filemanager
SYN-ISO-PROFILE/airootfs/usr/share/applications/syn-filemanager.desktop
SYN-ISO-PROFILE/airootfs/usr/bin/dislocker*
SYN-ISO-PROFILE/airootfs/usr/lib/libdislocker.so*
SYN-ISO-PROFILE/airootfs/usr/share/man/man1/dislocker*
