*.iso
*.qcow2
.claude
SYN-ISO-PROFILE/airootfs/root
WORKDIR/
.syncache/
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/pkgcache/
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-os-base/PKGBUILD
SYN-SOFTWARE/syn-filemanager-src/src/build/
SYN-SOFTWARE/syn-filemanager-src/pkg/
SYN-SOFTWARE/syn-filemanager-src/*.pkg.tar.zst
SYN-SOFTWARE/syn-filemanager-src/*.pkg.tar.zst.sig
SYN-SOFTWARE/*/build/
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-wifi
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-crypter
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-bar-disk
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-bar-vpn
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-bar-window-title
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-audio
SYN-ISO-PROFILE/airootfs/usr/lib/syn-os/syn-sysmon
SYN-ISO-PROFILE/airootfs/usr/bin/syn-filemanager
SYN-ISO-PROFILE/airootfs/usr/share/applications/syn-filemanager.desktop
