[Desktop Entry]
Name=Red's Black
Comment=Black
Icon=theme.png
Type=Service
X-Falkon-Type=Theme

X-Falkon-Author=Red (Recep)
X-Falkon-Email=redcep@discord.com
X-Falkon-License=GPLv3
