[Desktop Entry]
Type=Application
Name=surf
Comment=Web browser
Exec=surf %u
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
