<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

  <menu id="root-menu" label="SYN-OS Menu">

    <!-- Dynamic XDG-based applications menu -->
    <menu id="dynamic_menu"
          label="Applications"
          execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu" />

    <!-- Apps -->
    <separator label="Applications" />
    <item label="Shadow">
      <action name="Execute" command="/home/syntax990/Downloads/squashfs-root/shadow-launcher"/>
    </item>

    <item label="Terminal">
      <action name="Execute" command="kitty"/>
    </item>

    <!-- UI Settings -->
    <separator label="UI Settings" />

    <item label="QT5 Controls">
      <action name="Execute" command="qt5ct"/>
    </item>

    <item label="QT6 Controls">
      <action name="Execute" command="qt6ct"/>
    </item>

    <!-- Audio / Visual -->
    <separator label="Audio / Visual" />

    <item label="Audio Mixer">
      <action name="Execute" command="pavucontrol-qt"/>
    </item>

    <!-- System Controls -->
    <separator label="System" />

    <item label="Restart Labwc">
      <action name="Execute" command="pkill -HUP labwc"/>
    </item>

    <item label="Return to TTY">
      <action name="Execute" command="pkill -KILL -u $USER"/>
    </item>

    <item label="Reboot">
      <action name="Execute" command="systemctl reboot"/>
    </item>

    <item label="Poweroff">
      <action name="Execute" command="systemctl poweroff"/>
    </item>

  </menu>

</openbox_menu>