<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

  <menu id="root-menu" label="SYN-OS">

    <separator label=" EXECUTION " />
    <item label="TERMINAL">
      <action name="Execute" command="kitty"/>
    </item>
    <item label="SHADOW">
      <action name="Execute" command="/home/syntax990/Downloads/squashfs-root/shadow-launcher"/>
    </item>

    <separator label=" SOFTWARE " />
    <menu id="dynamic_menu"
          label="APPLICATIONS"
          execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu" />

    <separator label=" SYSTEM CONTROL " />
    <menu id="control-center" label="CONTROL CENTER">

      <separator label=" MONITOR SETUP " />
      <menu id="display-settings" label="DISPLAY &amp; SCREENS">
        <item label="INTERNAL (eDP-1) ON">
          <action name="Execute" command="wlr-randr --output eDP-1 --on"/>
        </item>
        <item label="INTERNAL (eDP-1) OFF">
          <action name="Execute" command="wlr-randr --output eDP-1 --off"/>
        </item>
        <separator />
        <item label="EXTERNAL (DP-1) ON">
          <action name="Execute" command="wlr-randr --output DP-1 --on"/>
        </item>
        <item label="EXTERNAL (DP-1) OFF">
          <action name="Execute" command="wlr-randr --output DP-1 --off"/>
        </item>
        <separator />
        <item label="HDMI-A-1 ON">
          <action name="Execute" command="wlr-randr --output HDMI-A-1 --on"/>
        </item>
        <item label="HDMI-A-1 OFF">
          <action name="Execute" command="wlr-randr --output HDMI-A-1 --off"/>
        </item>
      </menu>

      <separator label=" UI PREFERENCES " />
      <menu id="gui-settings" label="SYSTEM SETTINGS">
        <item label="QT5 CONTROLS">
          <action name="Execute" command="qt5ct"/>
        </item>
        <item label="QT6 CONTROLS">
          <action name="Execute" command="qt6ct"/>
        </item>
        <item label="AUDIO MIXER">
          <action name="Execute" command="pavucontrol-qt"/>
        </item>
      </menu>

      <separator label=" SOURCE CODE " />
      <menu id="edit-configs-sub" label="THEMING &amp; DEVELOPMENT">
        <item label="WAYBAR CONFIG">
          <action name="Execute" command="kwrite ~/.config/waybar/config.jsonc"/>
        </item>
        <item label="WAYBAR STYLE">
          <action name="Execute" command="kwrite ~/.config/waybar/style.css"/>
        </item>
        <item label="LABWC MENU">
          <action name="Execute" command="kwrite ~/.config/labwc/menu.xml"/>
        </item>
        <item label="LABWC CONFIG (RC)">
          <action name="Execute" command="kwrite ~/.config/labwc/rc.xml"/>
        </item>
        <item label="LABWC AUTOSTART">
          <action name="Execute" command="kwrite ~/.config/labwc/autostart"/>
        </item>
        <item label="SYN-OS THEME (RED)">
          <action name="Execute" command="kwrite /usr/share/themes/SYN-OS-RED/openbox-3/themerc"/>
        </item>
      </menu>

    </menu>

    <separator label=" INTERFACE " />
    <item label="RELOAD UI">
      <action name="Reconfigure" />
    </item>

    <separator label=" POWER " />
    <menu id="power-menu" label="POWER OPTIONS">
      <item label="RETURN TO TTY">
        <action name="Execute" command="pkill labwc"/>
      </item>
      <item label="REBOOT">
        <action name="Execute" command="systemctl reboot"/>
      </item>
      <item label="POWEROFF">
        <action name="Execute" command="systemctl poweroff"/>
      </item>
    </menu>

  </menu>

</openbox_menu>