* {
font-family: FontAwesome, Roboto, Terminus, "Noto Sans Symbols", "Noto Color Emoji";
font-size: 14px;
color: #ffffff;
}

/* MAIN BAR */
window#waybar {
    background-color: #000000;
    border-bottom: 3px solid #400101;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #260101;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

/* BUTTONS */
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #800000;
}

/* WORKSPACES */
#workspaces button {
padding: 0 5px;
background-color: transparent;
color: #ffffff;
}

#workspaces button:hover {
background-color: #260101;
}

#workspaces button.focused {
background-color: #400101;
box-shadow: inset 0 -3px #800000;
}

#workspaces button.urgent {
background-color: #800000;
}

/* MODULE BLOCKS */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#privacy-item {
padding: 0 10px;
background-color: #2c0101;
color: #ffffff;
}

/* SPACING */
#window,
#workspaces {
margin: 0 4px;
}

/* CLOCK */
#clock {
background-color: #260101;
}

/* BATTERY */
#battery {
background-color: #2c0101;
}

#battery.charging,
#battery.plugged {
background-color: #400101;
}

@keyframes blink {
    to {
        background-color: #800000;
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
background-color: #800000;
animation-name: blink;
animation-duration: 0.5s;
animation-timing-function: steps(12);
animation-iteration-count: infinite;
animation-direction: alternate;
}

/* RESOURCE MODULES */
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio {
background-color: #2c0101;
}

#network.disconnected,
#pulseaudio.muted {
background-color: #800000;
}

/* TEMPERATURE */
#temperature {
background-color: #2c0101;
}

#temperature.critical {
background-color: #800000;
}

/* TRAY */
#tray {
background-color: #260101;
}

#tray > .passive {
-gtk-icon-effect: dim;
}

#tray > .needs-attention {
background-color: #800000;
}

/* IDLE INHIBITOR */
#idle_inhibitor {
background-color: #260101;
}

#idle_inhibitor.activated {
background-color: #400101;
}

/* SCRATCHPAD */
#scratchpad {
background-color: #260101;
}

#scratchpad.empty {
background-color: transparent;
}

/* PRIVACY */
#privacy {
padding: 0;
}

#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
background-color: #400101;
}

/* LABELS */
label:focus {
    background-color: #000000;
}
