[colors-dark]
alpha=0.7
background=SYN_BG_RAW
foreground=SYN_TEXT_RAW

regular0=SYN_BG_ALT_RAW
regular1=SYN_ACCENT_RAW
regular2=SYN_TEXT_RAW
regular3=SYN_PANEL_HOVER_RAW
regular4=SYN_BORDER_RAW
regular5=SYN_ACCENT_DIM_RAW
regular6=SYN_PANEL_RAW
regular7=SYN_TEXT_RAW

bright0=SYN_BORDER_RAW
bright1=SYN_URGENT_RAW
bright2=SYN_TEXT_RAW
bright3=SYN_PANEL_HOVER_RAW
bright4=SYN_BORDER_RAW
bright5=SYN_ACCENT_DIM_RAW
bright6=SYN_PANEL_RAW
bright7=SYN_TEXT_RAW

