##############################################
#                                            #
#           SYN-OS Theme: SYN_THEME_NAME    #
#           (Background Inheriting)          #
##############################################

code_syntax_highlight = "onedark"

###############################################################################
#                                 Base Colors                                 #
###############################################################################

# Full Screen – inherits background
full_screen_fg = "SYN_TEXT"
full_screen_bg = ""

# Gradient (limited to two; using accent colors)
gradient_color = ["SYN_ACCENT", "SYN_PANEL_HOVER"]

# File Panel
file_panel_fg = "SYN_TEXT"
file_panel_bg = ""
file_panel_border = "SYN_BORDER"
file_panel_border_active = "SYN_ACCENT"
file_panel_top_directory_icon = "SYN_ACCENT"
file_panel_top_path = "SYN_BORDER"
file_panel_item_selected_fg = "SYN_TEXT"
file_panel_item_selected_bg = "SYN_PANEL"

# Footer
footer_fg = "SYN_TEXT"
footer_bg = ""
footer_border = "SYN_BORDER"
footer_border_active = "SYN_ACCENT"

# Sidebar
sidebar_fg = "SYN_TEXT"
sidebar_bg = ""
sidebar_title = "SYN_ACCENT"
sidebar_border = "SYN_BORDER"
sidebar_border_active = "SYN_ACCENT"
sidebar_item_selected_fg = "SYN_TEXT"
sidebar_item_selected_bg = "SYN_PANEL_HOVER"
sidebar_divider = "SYN_BORDER"

# Modals
modal_fg = "SYN_TEXT"
modal_bg = ""
modal_border_active = "SYN_ACCENT"
modal_cancel_fg = "SYN_TEXT"
modal_cancel_bg = "SYN_ACCENT_DIM"
modal_confirm_fg = "SYN_TEXT"
modal_confirm_bg = "SYN_ACCENT"

# Help Menu
help_menu_hotkey = "SYN_ACCENT"
help_menu_title = "SYN_TEXT"

# Special
cursor = "SYN_ACCENT"
correct = "SYN_BORDER"
error = "SYN_ACCENT"
hint = "SYN_BORDER"
cancel = "SYN_BORDER"
